.container{
    /* margin:auto; */
    display: flex;
    border: 3px solid black;
    width:900px;
    height: 400px;
    padding:30px 40px;
    margin-top: 100px;
    margin:60px 23px 60px 297px;
}
.container input{
    padding:10px 30px 10px 30px;
    border-radius: 30px;
}
.container h2{
    font-size: 2rem;
    text-align: center;
}
.theform{
    margin:10px 10px 10px 100px;
    padding:58px 20px 20px 20px;
}
.btn{
    font-size: 1.2rem;
    color:black;
    background-color: #35b835;
    padding:10px 95px 10px 95px;
    border-radius: 30px;
}
.container img{
    width:200px;
    height:200px;
    margin:100px 62px;
}
.container2{
    margin:30px 80px;
    margin-top: 100px;
    border:2px solid black;
    padding:10px 10px;
    display: flex;
    width:1300px;
    margin-bottom: 10px ;
}
#mainbox{
    padding:0px 100px;
    display: flex;
    text-align: center;
}
.box{
    padding:50px 30px;
    width:300px;
    margin:5px 20px;
    align-items: center;
    justify-content: center;
}
.theform2 h2{
    font-size: 2rem;
    padding:10px 10px;
    margin:10px 10px;
    text-align: center;
}
.box input{
    padding:10px 63px 10px 63px;
    border-radius: 30px;
}
.btn2{
    padding:10px 91px 10px 88px;
    border-radius: 20px;
    margin:10px 405px;
    background-color:green;
    font-size: 1.1em;
}
.btn2:hover{
    background-color: #35b835;
}
.login_btn{
    left:100%;
}
.container2 img{
    width:200px ;
    height:200px;
    margin:128px 96px;
}
.container5{
    display: flex;
    border: 3px solid black;
    width:900px;
    height: 600px;
    padding:62px 29px;
    margin-top: 100px;
    margin:10px 29px 16px 295px;
}

.container5 input{
    padding:10px 30px 10px 30px;
    border-radius: 30px;
}
.container5 h2{
    font-size: 2rem;
    /* text-align: center; */
    padding:10px 10px;
    /* margin:auto; */
}
.theform5{
    padding:7px 20px 20px 67px;
}
.btn5{
    font-size: 1.2rem;
    color:black;
    background-color: #35b835;
    padding:10px 87px 10px 87px;
    border-radius: 30px;
}
.container5 img{
    width:200px;
    height:200px;
    margin:150px 120px;

}